header {
    position: relative;
    text-align: center;
    padding: 3em 0em;
    font-family: "Gelasio", sans-serif;
    font-size: 10px;
}

img {
    padding: 0em;
    margin: 1em 1em;
}

main {
    font-family: "Helvetica", sans-serif;
    position: relative;
    text-align: center;
    font-size: 15px;
}

p {
    font-family: "Helvetica", sans-serif;
    position: relative;
    text-align: center;
    font-size: 15px;
}

h2 {
    position: relative;
    text-align: center;
}

section {
    position: relative;
    text-align: center;
    font-size: 10px;
}